<?xml version="1.0"?>


<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


    <suite name ="EducoTest"  parallel="tests"    >

    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>

        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>

    </listeners>



    <test name="FF Test in Windows 7 Sytem" >

        <classes>
        <class name="com.educo.tests.TestCases.SyllabusPageTests"/>
            <class name="com.educo.tests.TestCases.InsHomePagetests"/>
            <class name="com.educo.tests.TestCases.Logintests"/>
        </classes>
    </test>


</suite>
