<?xml version="1.0"?>


<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name ="EducosoftTest Suite"  parallel="classes"    >

    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>



    <test name="Distributed testing firefox" >
        <parameter name="browser" value="firefox"/>
        <parameter name="RunMode" value="webdriver"/>
        <parameter name="PlatformName" value="ANY"/>
        <parameter name="browserVersion" value=""/>
        <parameter name="HostUrl" value="http://PraveenSelenium:dc653317-36d8-44d8-88a0-76816c4fd7b5@ondemand.saucelabs.com:80/wd/hub"/>
        <classes>


            <class name="com.educo.tests.TestCases.Logintests"> <methods><include name="Login_As_Instructor_India"></include></methods> </class>



        </classes>
    </test>



</suite>
